---
---

<section
	data-testid="about"
	id="about"
	class="flex flex-col items-center justify-start md:mb-0 h-1/2"
>
	<div class="mb-10 pt-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-black dark:text-white lg:text-3xl">about me</h2>
		<hr class="w-1/2 " />
	</div>

	<div class="w-full p-10 justify-center text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			hi! my name is emily and i am a fourth year <a href="https://www.engphys.ubc.ca" class="text-orange	">engineering physics</a> student at ubc 
			with an interest in electronics. 
			this portfolio documents some of the things i've made / learned while exploring engineering and its related 
			fields. i also enjoy 
			<a href="/someart" class="text-orange"> art.</a></p>
	</div>
	<img src="\aboutme.jpg" class="bg-primary mb-1 w-1/4 h-1/4 rounded-full object-cover">
</section>
