<div
  class="prose dark:prose-invert prose max-w-none mt-12 pt-12 pl-12 pr-12 prose-h1:text-orange prose-h1:shadow-xl 
  prose-h3:text-orange prose-h2:text-orange
  prose-h4:text-orange
  prose-a:text-orange prose-p:text-left prose-p:font-monospace prose-p:text-md prose-img:outline prose-img:outline-1 prose-img:outline-slate prose-img:shadow-xl
  prose-blockquote:text-md prose-blockquote:text-slate-500 prose-blockquote:h-min
 prose-figure:shadow-xl prose-figure:shadow-glow prose-figure:items-center
  prose-figcaption:font-monospace prose-figcaption:text-md prose-figcaption:italic prose-figcaption:text-orange prose-figcaption:text-bold
  ">
  <slot />
</div>